*{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: medium;
    text-align: center;}
button {
    color:rgb(0, 0, 0);
    background-color: rgba(227, 51, 44, 0.292);
    filter: brightness(3);
    padding:5px;
    border-radius:15px;
    cursor:pointer;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.80);}
.bg {
    position:fixed;
    top:0;
    left:0;
    background-image: url("Images/spider.webp");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index:-2;}
input, textarea {
    position:relative;
    color:black;
    border-radius: 25px 5px;
    background-color: rgba(243, 73, 73, 0.3);
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    z-index: 1;}
.caixa {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 65%;
    background-color: rgba(255, 255, 255, 0.309);
    filter: blur(2px);
    border-style:double;
    backdrop-filter: blur(2px);
    border-radius: 30%;
    z-index: 0;}
.conteudo{
    position: relative;
    z-index: 1; /* Fica na frente */
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}